body {
    font-family: 'Roboto';
    font-family:sans-serif;
    margin:0;
    padding:0;
}
.header{
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    text-align: center;
    height: 800px;
    margin:0;
    padding:40px; 
    line-height:100px; 
}
.container{
    margin:0 auto;
    padding-bottom: 10px;
    max-width: 900px;  
}
.header h1 {
    color:white;
    font-size: 120px;
    text-transform: uppercase;
    text-align: center;
    margin-top:200px;
    margin-bottom: 40px;
    letter-spacing: 0px;

  }
.header p{
    text-transform:uppercase;
    color:white;
    letter-spacing: 10px;
    margin-bottom: 0px;
}
.btn{
color: white;
background-color: black;
padding: 10px 30px;
text-decoration: none;
margin-top: 10px;
}

.btn:hover{
    background-color: cornflowerblue
}
.nav{
      background-color: black;
      margin: 0 auto;
      padding-top:10px;
      height: 70px;
      text-align: left;
    }

.nav ul li {
    color: white;
    display: inline-block;
    line-height:80px;
    margin-top:-26px;
    padding:0 15px;
    }
.nav ul li:hover{
    background-color: cornflowerblue
}
.main{
    margin-top:100px;
    text-align: justify;
}
.main img{
    float:left;
    margin: 40px 80px 5px 10px;
    }
.jumbotron{
    margin-top: 100px;
    background-image: url(images/jumbotron_bg.jpg);
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    text-align: center;
    height: 800px;
    text-align:right;
    color: white;
}
.jumbotron h2{
    padding-top:400px;
    padding-bottom: 10px;
}

.footer{
    background-color: black;
    color:white;
    padding-top: 10px;
}